/*  NAV */
nav {
    display: flex;
    align-items:center;
    justify-content: space-around;
    

    border: 1px solid black;
    background-color: black;

    padding: 5px;
}

.nav__img {
    align-self: center;
    color: blue;
    
}



/* MAIN */

.username__form {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.form__collumn {
    display:flex;
    align-items: center;
}


.hidden {
    display: none;
}