/*  NAV */
nav {
    display:flex
}

.Nav_img {
    align-self: center;
}



/* MAIN */

.username__form {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.form__collumn {
    display:flex;
    align-items: center;
}